<!DOCTYPE html>
<html lang="en">
<body>
  <p>Thank you <%= fullName %> (<%= email %>),
        for sending this message: </br>
        "<%= message %>"</p>
  <p>I will reply you as soon as possible</p>
  <p>Regards</p>
</body>

</html>